@model SalaryCapGame.ViewModels.OwnerIndexModel
@{
	Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container" style="width:100%; margin:2px auto;">
	<br />
	@*<div style="width:100%; margin:0 auto;">*@

	<table class="display table-condensed table-bordered table-hover" style="padding:3px" cellspacing="0" cellpadding="2" border-spacing="0" width:80%; border="0">

		<thead class="bg-success">
			<tr>
				<th style="border:0; text-align:left">Owner</th>
				@Html.Partial( "~/Views/Partial/Franchise/_FranchiseHeader.cshtml" )
			</tr>
		</thead>
		@foreach ( var owner in Model.Owners )
		{

			<tbody>
				<tr>
					<td>
						<a style="text-align:left" asp-action="Details" asp-controller="Owners" asp-route-id=@owner.Id>@owner.LastName, @owner.FirstName</a>
					</td>
				</tr>
				@Html.Partial( "/Views/Partial/Franchise/FranchiseSummary.cshtml", owner.Franchises )
			</tbody>
		}
	</table>
</div>



