

.chartRow {
	width: 100%;
	border-bottom: medium;
}

.chartContainer {
	display: flex;
	width: 25%;
	height: 25%;
	padding: 5px;
	position: center;
	/*height: 50px;*/
}

.chart1,
.chart2,
.chart3,
.chart4,
.chart5,
.chart6 {
	width: 100%;
	background-color: lightblue;
	border: thin solid darkgray;
	position: center;
}
