@model SalaryCapGame.WebViewModels.EditFranchiseName

@*<form role="form" class="form-horizontal" method="POST" id="editFranchiseName"
      action="@Url.Action( "CreateFracnhise", "Owner" )">*@

<div class="modal-header">
    <h3>Create Franchise</h3>
    </div>
    @using ( Html.BeginForm( "CreateFranchise", "Owner", FormMethod.Post ) )
    {
<div class="modal-body">
    <div class="row-fluid"></div>
    <div class="row-fluid">@Html.TextBoxFor( f => f.FranchiseName )</div>
    <!-- Modal -->
    @*<div class="modal fade" id="editFranchiseModal" tabindex="-1" role="dialog" aria-labelledby="editNameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editNameLabel">Edit Franchise Name</h5>*@
    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>*@

    @*<div class="modal-body">
            <div class="form-group">
                <label for="usr">Franchise Name:</label>
                <input type="text" class="form-control" id="newFranchiseName">
            </div>
        </div>*@
</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btnSave">Save changes</button>

            
        </div>
        }
        <script type="text/javascript">
            $(function () {
                $("#btnSave").click(function () {
                    $('#modal-container').modal('hide');

                });

            });
        </script>

