@model SalaryCapGame.ViewModels.OwnerIndexListingModel

    <div class="container">
        <div class="page-header clearfix detailHeading">
            <h2 class="text-muted">Owner Details</h2>
        </div>

        @*Modal Dialog Container*@
        @*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" style="border:5px solid #3A87AD;">
            <a href="#close" title="Close" class="modal-close-btn">X</a>
            <div class="modal-content" style="width:500px !important; margin: 10px auto !important;">
                <div class="modal-body">
                </div>
            </div>
        </div>*@
        @*<button type="button" class="btn btn-primary"
        data-toggle="modal" data-target="editFranchiseName"
        data-whatever="@Model.NewFranchiseName" href="FranchiseNameModel">Create New Fracnhise</button>*@
        
        <a asp-controller="Owner" asp-action="CreateFranchise" asp-route-id="@Model.Id">
            Create Franchise
        </a>
            @*<form asp-action="CreateFranchise" method="post" asp-route-id*@
                  @Html.Partial( "OwnerSummary" , Model )

</div>
@*<script type="text/javascript">
    $(function () {
        $('body').on('click', 'modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        $('body').on('click', 'modal-close-btn', function () {
            $('#modal-container').modal('hide');

        });
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');

        });
    });
</script>*@
