@model SalaryCapGame.ViewModels.OwnerIndexModel

<div id="ownerIndexTable">
    <h3>All Owners and Franchises Listing</h3>
    @foreach ( var owner in Model.Owners )
    {
        @Html.Partial( "OwnerSummary", owner )
    }

</div>