@model SalaryCapGame.ViewModels.LeagueIndexModel

    <h3>All Leagues</h3>
    <div id="ownerIndexTable">
        <table class="table">
            <thead>
                <tr>
                    <th>League</th>
                    @*<th>Date Created</th>
                        <th>DateModified</th>*@
                    <th>Commissioner</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>

            @foreach ( var l in Model.Leagues )
            {
                @Html.Partial( "/Views/Partial/League/LeagueSummary.cshtml", l )
            }
        </table>

    </div>
