@model SalaryCapData.Models.Franchise

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/Franchises1/Index.cshtml";
}

<h2>Edit Franchise </h2>
<hr />
<container>
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FranchiseId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateModified" class="control-label"></label>
                    <input asp-for="DateModified" class="form-control" />
                    <span asp-validation-for="DateModified" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</container>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
