@*<thead>
        <tr>
            <th>Owner</th>
            <th>
                <div class="table-responsive">
                    <table class="table bottom text-center table-bordered table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th height="25px"width="300px"  style="text-align:left">Franchise</th>
                                <th height="25px" width="50px" colspan="2" style="text-align:left">Value</th>
                                <th width="50px" colspan="2" style="text-align:left">Points</th>
                                <th width="25px" style="text-align:left">Trades</th>
                                <th width="300px" style="text-align:left">League</th>
                                <th width="50px" colspan="2" style="text-align:left">Rank</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </th>
        </tr>
    </thead>*@



  
        <th  style="text-align:left">Owner</th>

 
