
    <thead>
        <tr>
            <th>Owner</th>
            <th>
                <div class="table-responsive">
                    <table class="table bottom text-center g table-bordered table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th height="25px"width="300px"  style="text-align:center">Franchise</th>
                                <th height="25px" width="50px" colspan="2" style="text-align:center">Value</th>
                                <th width="50px" colspan="2" style="text-align:center">Points</th>
                                <th width="25px" style="text-align:center">Trades</th>
                                <th width="300px" style="text-align:center">League</th>
                                <th width="50px" colspan="2" style="text-align:center">Rank</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </th>
        </tr>
    </thead>

