
    <thead>
        <tr>
            <th>Owner</th>
            <th>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed table-striped table-sm">
                        <thead>
                            <tr>
                                <th style="text-align:center">Franchise</th>
                                <th style="text-align:center">League</th>
                                <th style="text-align:right">Value</th>
                                <th style="text-align:right">Points</th>
                                <th style="text-align:right"># Trades</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </th>
        </tr>
    </thead>

